h1
{
     background-size: 100px;
    color: rgb(255, 255, 255);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
   
p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}