html{
    margin: 0 200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo,
.head-name,
.head-search{
    width: 30%;
}
.logo > img{
    width: 100%;
}
.head-name{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.head-search{
    display: flex;
    justify-content: flex-end;
}
.head-name > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #01a54f;
    font-size: 50px;
    margin-bottom: -5px;
}
.head-name > h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #99ba13;
    margin-top: -5px;
}
.flag{
    display: flex;
}
.flag > img{
    width: 30px;
    margin-right: 5px;
    height: 20px;
}
#searchbox{
    margin-top: 20px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
ul.w-menu{
    display: flex;
    justify-content: space-between;
    background-color: #fbfef5;
    border: 1px solid rgb(214, 193, 193);
    width: 100%;
    height: 40px;
}
ul.w-menu > li{
    text-align: center;
}
ul.w-menu > li > a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    padding: 0 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    line-height: 40px;

}
ul.w-menu > li > a:hover{
    color: white;
    background-color: #01a54f;
}
.pic > img{
    margin-top: 30px;
    width: 100%;
}
.body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.part-1{
    width: 32%;
    position: relative;
}
.pic1 > img{
    width: 100%;
}
.text1in1{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}
.button > a{
    color:#99ba13;
    display: block;
    line-height: 20px;
    border: 1px solid #01a54f;
    width: 150px;
    position: absolute;
    right: 0;
    text-align: center;
}
.footer{
    margin-top: 50px;
    text-align: center;
    background-color: black;
    color: white;
    line-height: 40px;
    display: flex;
    justify-content: space-around;
}
.icon > i{
    margin-right: 10px;
}