
.banner{
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 100px;
    width: 100%;
    align-items: center;
    background-color: rgb(244, 246, 146);
}
.h-logo > img,
.h-image > img{
    height: 100%;
    width: 100px;
}
.h-name{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 20px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
ul.menu-1{
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    background-color: black;
}
ul.menu-1 > li{
    position: relative;
}
ul.menu-1 > li > a{
    color: white;
    font-size: 25px;
    display: block;
    padding: 0 35px;
}
ul.menu-1 > li > a:hover,
ul.sub-menu > li > a:hover{
    color: black;
    background-color: rgb(233, 212, 212);
    transition: ease-in 0.3s;

}
ul.sub-menu{
    background-color: black;
    position: absolute;
    min-width: 300px;
    display: none;
    margin-top: -50px;
}
ul.sub-menu > li > a{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    font-size: 25px;
    display: block;
    text-align: center;
    color: white;
}
ul.sub-menu > li > a > span{
    border-bottom: 4px solid white;
}
ul.menu-1 > li:hover ul.sub-menu{
    display: block;
}
ul.sub-menu > li > a > span:hover{
    border-bottom: 4px solid black;
    transition: ease-in 0.3s;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.f1,
.search,
.f2{
    width: 33%;
}
.f1{
    padding: 0 10px;
}
.f2{
    text-align: right;
}
